body {
    background-color: #1e1f20;
}

.box {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(20, 19, 19);
}

.inputBox {
    margin-bottom: 20px;
}

.inputBox label {
    display: block;
    font-weight: bold;
}

.inputBox input[type="text"],
.inputBox input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input input[type="radio"] {
    margin-right: 10px;
}

legend {
    font-weight: bold;
    font-size: 1.2em;
}

.letras {
    color: #59c225;
}

.input {
    color: #59c225;
    accent-color: #1a79d7;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.botoes{
    background-color: #454345;
    color: #59c225;
}

#botao{
    width: 100px;
    margin: 0 auto;
}